<%= form_for(@team) do |f| %>
</br>
  <% if @team.errors.any? %>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.hidden_field :city, :value => @team.city %>
    <%= f.hidden_field :name, :value => @team.name %>
    <%= f.hidden_field :league, :value => @team.league %>
    <%= f.hidden_field :division, :value => @team.division %>
    <%= f.hidden_field :stadium, :value => @team.stadium %>
    <%= f.hidden_field :capacity, :value => @team.capacity %>
  </div>

<table id="table_with_custom_border" class="table-bordered table-condensed table-striped">
  <thead>
    <tr>
      <th>
        Position
      </th>
      <th>
        Player
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>DH</td>
      <td><%= f.collection_select(:designated_hitter, @team.players.all, :id, :full_name, :include_blank => '--')  %></td>
    </tr>
    <tr>
      <td>C</td>
      <td><%= f.collection_select(:catcher, @team.players.all, :id, :full_name, :include_blank => '--')  %></td>
    </tr>
    <tr>
      <td>1B</td>
      <td><%= f.collection_select(:first_base, @team.players.all, :id, :full_name, :include_blank => '--')  %></td>
    </tr>
    <tr>
      <td>2B</td>
      <td><%= f.collection_select(:second_base, @team.players.all, :id, :full_name, :include_blank => '--')  %></td>
    </tr>
    <tr>
      <td>3B</td>
      <td><%= f.collection_select(:third_base, @team.players.all, :id, :full_name, :include_blank => '--')  %></td>
    </tr>
    <tr>
      <td>SS</td>
      <td><%= f.collection_select(:shortstop, @team.players.all, :id, :full_name, :include_blank => '--')  %></td>
    </tr>
    <tr>
      <td>LF</td>
      <td><%= f.collection_select(:left_field, @team.players.all, :id, :full_name, :include_blank => '--')  %></td>
    </tr>
    <tr>
      <td>CF</td>
      <td><%= f.collection_select(:center_field, @team.players.all, :id, :full_name, :include_blank => '--')  %></td>
    </tr>
    <tr>
      <td>RF</td>
      <td><%= f.collection_select(:right_field, @team.players.all, :id, :full_name, :include_blank => '--')  %></td>
    </tr>
    <tr>
      <td>BN</td>
      <td><%= f.collection_select(:bench1, @team.players.all, :id, :full_name, :include_blank => '--')  %></td>
    </tr>
    <tr>
      <td>BN</td>
      <td><%= f.collection_select(:bench2, @team.players.all, :id, :full_name, :include_blank => '--')  %></td>
    </tr>
    <tr>
      <td>BN</td>
      <td><%= f.collection_select(:bench3, @team.players.all, :id, :full_name, :include_blank => '--')  %></td>
    </tr>
    <tr>
      <td>BN</td>
      <td><%= f.collection_select(:bench4, @team.players.all, :id, :full_name, :include_blank => '--')  %></td>
    </tr>
  </tbody>
</table>
</br>
<div class="actions">
  <%= f.submit "Save Changes" %>
  <%= button_to 'Back', 'javascript:history.go(-1);', method: :get %>
</div>

<% end %>
