<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<%= javascript_include_tag 'bootstrap-sortable', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'moment.min', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'bootstrap-sortable', 'data-turbolinks-track' => true %>

<p id="notice"><%= notice %></p>


  <h1>Teams</h1>

<table id="table_with_custom_border" class="table-condensed table-striped table-bordered table-responsive sortable">
  <thead>
    <tr>
      <th id=team_name_column_header data-defaultsort="asc">Name</th>
      <th>League</th>
      <th>Division</th>
      <th>Stadium</th>
      <th>Capacity</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= link_to team.full_name, team, method: :get %></td>
        <td><%= team.league %></td>
        <td><%= team.division %></td>
        <td><%= team.stadium %></td>
        <td><%= team.capacity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<style>
.teams {
  pointer-events: none;
  opacity: 0.5;
}
</style>
