<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<%= javascript_include_tag 'bootstrap-sortable', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'moment.min', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'bootstrap-sortable', 'data-turbolinks-track' => true %>

<style>
  .table_with_custom_border > thead > tr > th {
    padding-right: 18px;
  }
</style>

<p id="notice"><%= notice %></p>


  <h1 style="color:#243342;">Teams</h1>

<% leagues = ["NL", "AL"] %>
<% divisions = ["East", "Central", "West"] %>

<% leagues.each do |league| %>
  <div class="league_div">
    <% divisions.each do |division| %>
      <h3 class="division_title"><%= league + " " + division %></h3>
      <table class="table_with_custom_border table-condensed table-striped table-bordered table-responsive sortable">
        <thead>
          <tr>
            <th id=team_name_column_header>Name</th>
            <th data-defaultsort="desc">W</th>
            <th>L</th>
            <th>RS</th>
            <th>RA</th>
            <th>+/-</th>
            <th>Streak</th>
            <!-- <th>Last 10</th> -->
          </tr>
        </thead>

        <tbody>
          <% @teams.where(:league => league, :division => division).each do |team| %>
            <tr>
              <td><%= link_to team.full_name, team, method: :get %></td>
              <td><%= team.wins %></td>
              <td><%= team.losses %></td>
              <td><%= team.runs_scored %></td>
              <td><%= team.runs_allowed %></td>
              <% @plus_minus = (team.runs_scored - team.runs_allowed).to_s %>
              <% if @plus_minus.to_i > 0 %>
                <% @plus_minus.prepend("+") %>
              <% end %>
              <td><%= @plus_minus %></td>
              <td><%= team.streak_display %></td>
              <!-- <td>TODO</td> -->
            </tr>
          <% end %>
        </tbody>
      </table></br>
    <% end %>
  </div>
<% end %>

<style>
.teams {
  pointer-events: none;
  opacity: 0.5;
}

.division_title {
  color: #52677a;
}

.league_div {
  border: 2px solid #52677a;
  border-radius: 20px;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
</style>
