<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<%= stylesheet_link_tag "jquery-ui.min", 'data-turbolinks-track' => true %>
<%= javascript_include_tag "jquery-ui.min", 'data-turbolinks-track' =>true %>
<%= javascript_include_tag 'bootstrap-sortable', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'moment.min', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'bootstrap-sortable', 'data-turbolinks-track' => true %>

<style media="screen">
#pitcher-roster-table td {
  font-size: 12px;
  height: 15px;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.ui-checkboxradio-label {
  font-size: 12px !important;
  padding: 5px;
}

.ui-checkboxradio {
  padding: 5px;
}

.ui-checkboxradio-checked {
  background-color: #0047b3;
  border-color: #80b3ff;
}
</style>

<div class="container-fluid">
  <div class="row">
    <div id="team_name_div" class="col-md-2 col-md-border">
      <%= render 'teamSidebar' %>
    </div>
    <div class="col-md-10">
      <%= render 'teamNav' %>
      <h4>Pitching</h4>
      <hr>
      <%= render 'viewModeSelect' %>
      <table id="pitcher-roster-table" class="table table-default custom-smaller-table">
        <thead>
          <th>Name</th>
          <th class="info_cell">Drafted</th>
          <th>Role</th>
          <th>Age</th>
          <th class="info_cell">Height</th>
          <th class="info_cell">Weight</th>
          <th class="info_cell">Throws</th>
          <th class="info_cell">Salary</th>
          <th class="attribute_cell tooltip_enable" title="How hard this player can throw the ball">Arm</th>
          <th class="attribute_cell tooltip_enable" title="How well this player can make a pitch deviate from its expected path">Mov</th>
          <th class="attribute_cell tooltip_enable" title="How well this player can throw strikes instead of balls">Ctr</th>
          <th class="attribute_cell tooltip_enable" title="How well this player can hit a specific location with a pitch">Loc</th>
          <th class="attribute_cell tooltip_enable" title="How well this player can make quick, sudden movements">Agi</th>
          <th class="attribute_cell tooltip_enable" title="How quickly this player reacts to a play">Rtm</th>
          <th class="attribute_cell tooltip_enable" title="How well this player can field the ball">Fld</th>
          <th class="attribute_cell tooltip_enable" title="How accurately this player can throw the ball">Thr</th>
          <th class="attribute_cell tooltip_enable" title="How often this player makes the right decision for a given play">Int</th>
          <th class="attribute_cell tooltip_enable" title="How quickly this player gets tired">End</th>
          <th class="attribute_cell">Energy</th>
          <th class="stats_cell tooltip_enable" title="Wins">W</th>
          <th class="stats_cell tooltip_enable" title="Losses">L</th>
          <th class="stats_cell tooltip_enable" title="Innings pitched">IP</th>
          <th class="stats_cell tooltip_enable" title="Hits allowed">H</th>
          <th class="stats_cell tooltip_enable" title="Runs allowed">R</th>
          <th class="stats_cell tooltip_enable" title="Earned runs allowed">ER</th>
          <th class="stats_cell tooltip_enable" title="Home runs allowed">HR</th>
          <th class="stats_cell tooltip_enable" title="Walks">BB</th>
          <th class="stats_cell tooltip_enable" title="Strikeouts recorded">K</th>
          <th class="stats_cell tooltip_enable" title="Earned run average">ERA</th>
          <th class="stats_cell tooltip_enable" title="Walks plus hits per inning pitched">WHIP</th>
        </thead>
        <%
        @total_wins = 0
        @total_losses = 0
        @total_outs_recorded = 0
        @total_hits_allowed = 0
        @total_runs_allowed = 0
        @total_earned_runs_allowed = 0
        @total_home_runs_allowed = 0
        @total_walks_allowed = 0
        @total_strikeouts_recorded = 0
        %>
        <tbody>
          <% @team.get_pitchers.each do |player| %>
          <tr>
            <td><%= link_to player, player, method: :get %></td>
            <td class="info_cell">
              <% if player.draft_year > 0 %>
                <%= link_to player.draft_year, Draft.where("year = ?", player.draft_year).first, method: :get %> <small>(Rd. <%= player.draft_round %>, #<%= player.draft_position %>)</small>
              <% else %>-<% end %></td>
            <td><%= @team.find_pitching_role_of_player_formatted(player.id) %></td>
            <td><%= player.age %></td>
            <td class="height info_cell"><%= player.formatted_height %></td>
            <td class="info_cell"><%= player.weight %> lb.</td>
            <td class="info_cell"><%= player.throwing_hand.capitalize %></td>
            <td class="info_cell"><%= number_to_currency(player.salary) %></td>
            <td class="attribute_cell hotcold custom-border-left"><%= player.arm_strength %></td>
            <td class="attribute_cell hotcold"><%= player.movement %></td>
            <td class="attribute_cell hotcold"><%= player.control %></td>
            <td class="attribute_cell hotcold"><%= player.location %></td>
            <td class="attribute_cell hotcold custom-border-left"><%= player.agility %></td>
            <td class="attribute_cell hotcold"><%= player.reaction_time %></td>
            <td class="attribute_cell hotcold"><%= player.average_fielding %></td>
            <td class="attribute_cell hotcold"><%= player.average_throwing %></td>
            <td class="attribute_cell hotcold"><%= player.intelligence %></td>
            <td class="attribute_cell hotcold"><%= player.endurance %></td>
            <td class="attribute_cell hotcold custom-border-left"><%= player.current_energy %></td>
            <td class="stats_cell custom-border-left"><%= player.wins %></td><% @total_wins += player.wins %>
            <td class="stats_cell"><%= player.losses %></td><% @total_losses += player.losses %>
            <td class="stats_cell"><%= number_with_precision(player.outs_recorded.to_f/3, precision: 1) %></td><% @total_outs_recorded += player.outs_recorded %>
            <td class="stats_cell"><%= player.hits_allowed %></td><% @total_hits_allowed += player.hits_allowed %>
            <td class="stats_cell"><%= player.runs_allowed %></td><% @total_runs_allowed += player.runs_allowed %>
            <td class="stats_cell"><%= player.earned_runs_allowed %></td><% @total_earned_runs_allowed += player.earned_runs_allowed %>
            <td class="stats_cell"><%= player.home_runs_allowed %></td><% @total_home_runs_allowed += player.home_runs_allowed %>
            <td class="stats_cell"><%= player.walks_allowed %></td><% @total_walks_allowed += player.walks_allowed %>
            <td class="stats_cell"><%= player.strikeouts_recorded %></td><% @total_strikeouts_recorded += player.strikeouts_recorded %>
            <td class="stats_cell custom-border-left"><%= number_with_precision(zero_if_nan(player.earned_runs_allowed.to_f*27/player.outs_recorded.to_f), precision: 2) %></td>
            <td class="stats_cell"><%= number_with_precision(zero_if_nan((player.walks_allowed + player.hits_allowed).to_f*3/player.outs_recorded.to_f), precision: 2) %></td>
          </tr>
          <tr class="attribute_cell potentials_cell" hidden>
            <td class="no-top-border">&nbsp;</td><td class="no-top-border">&nbsp;</td><td class="no-top-border">&nbsp;</td>
            <td class="hotcold custom-border-left no-top-border"><%= player.arm_strength_potential %></td>
            <td class="hotcold no-top-border"><%= player.movement_potential %></td>
            <td class="hotcold no-top-border"><%= player.control_potential %></td>
            <td class="hotcold no-top-border"><%= player.location_potential %></td>
            <td class="hotcold custom-border-left no-top-border"><%= player.agility_potential %></td>
            <td class="hotcold no-top-border"><%= player.reaction_time_potential %></td>
            <td class="hotcold no-top-border"><%= player.average_fielding_potential %></td>
            <td class="hotcold no-top-border"><%= player.average_throwing_potential %></td>
            <td class="hotcold no-top-border"><%= player.intelligence_potential %></td>
            <td class="hotcold no-top-border"><%= player.endurance_potential %></td>
          </tr>
          <% end %>
          <tr class="stats_cell">
            <td><strong>Totals</strong></td>
            <td>&nbsp;</td><td>&nbsp;</td>
            <td><strong><%= @total_wins %></strong></td>
            <td><strong><%= @total_losses %></strong></td>
            <td><strong><%= number_with_precision(@total_outs_recorded.to_f/3, precision: 1) %></strong></td>
            <td><strong><%= @total_hits_allowed %></strong></td>
            <td><strong><%= @total_runs_allowed %></strong></td>
            <td><strong><%= @total_earned_runs_allowed %></strong></td>
            <td><strong><%= @total_home_runs_allowed %></strong></td>
            <td><strong><%= @total_walks_allowed %></strong></td>
            <td><strong><%= @total_strikeouts_recorded %></strong></td>
            <td><strong><%= number_with_precision(zero_if_nan(@total_earned_runs_allowed.to_f*27/@total_outs_recorded.to_f), precision: 2) %></strong></td>
            <td><strong><%= number_with_precision(zero_if_nan((@total_walks_allowed + @total_hits_allowed).to_f*3/@total_outs_recorded.to_f), precision: 2) %></strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
$("input").checkboxradio({
    icon: false
});

$("#radio-info").click(function() {
  $(".info_cell").each(function() {
    $(this).show();
  });
  $(".stats_cell").each(function() {
    $(this).hide();
  });
  $(".attribute_cell").each(function() {
    $(this).hide();
  });
  $(".potentials_cell").each(function() {
    $(this).hide();
  });
});

$("#radio-stats").click(function() {
  $(".info_cell").each(function() {
    $(this).hide();
  });
  $(".stats_cell").each(function() {
    $(this).show();
  });
  $(".attribute_cell").each(function() {
    $(this).hide();
  });
  $(".potentials_cell").each(function() {
    $(this).hide();
  });
});

$("#radio-attributes").click(function() {
  $(".info_cell").each(function() {
    $(this).hide();
  });
  $(".stats_cell").each(function() {
    $(this).hide();
  });
  $(".attribute_cell").each(function() {
    $(this).show();
  });
  $(".potentials_cell").each(function() {
    $(this).hide();
  });
});

$("#radio-potentials").click(function() {
  $(".info_cell").each(function() {
    $(this).hide();
  });
  $(".stats_cell").each(function() {
    $(this).hide();
  });
  $(".attribute_cell").each(function() {
    $(this).show();
  });
  $(".potentials_cell").each(function() {
    $(this).show();
  });
});

$(".info_cell").hide();
$(".stats_cell").hide();

  hotCold();
</script>
