<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<%= stylesheet_link_tag "jquery-ui.min", 'data-turbolinks-track' => true %>
<%= javascript_include_tag "jquery-ui.min", 'data-turbolinks-track' =>true %>
<%= javascript_include_tag 'bootstrap-sortable', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'moment.min', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'bootstrap-sortable', 'data-turbolinks-track' => true %>
<!-- <p id="notice"><%= notice %></p> -->

<h2>
<%= @team.city %>
<%= @team.name %>
</h2>

</br>

<p>
  <strong>League:</strong>
  <%= @team.league %>
</p>

<p>
  <strong>Division:</strong>
  <%= @team.division %>
</p>

<p>
  <strong>Stadium:</strong>
  <%= @team.stadium %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @team.capacity %>
</p>

</br>

<%= link_to 'Edit Team Info', edit_team_path(@team), method: :get %> |
<%= link_to 'Delete Team', @team, method: :delete, data: { confirm: 'Are you sure you want to delete the ' + @team.name + '?' } %> |
<%= link_to 'All Teams', teams_path, method: :get %> |
<%= link_to 'Back', 'javascript:history.go(-1);', method: :get %>


<p/>

<h3>Roster</h3>

<div id="roster_div">
  <table id="table_with_custom_border" class="sortable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Height</th>
        <th>Weight</th>
        <th id="position_column_header" data-defaultsort="asc">Natural Position</th>
        <th>Salary</th>
      </tr>
    </thead>
    <tbody>
      <% @team.players.each do |player| %>
        <tr class="player_row">
          <td><%= link_to player.full_name, player, method: :get %></td>
          <td><%= player.age %></td>
          <td class="height"><%= player.height %></td>
          <td><%= player.weight %> lb.</td>
          <td class="position"><%= player.position %></td>
          <td class="salary"><%= player.salary %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<style>

.ui-sortable tr {
  cursor: move;
}

.dragging {
  background-color: #edf0f8;
  opacity: 0.5;
}

.ui-sortable-helper {
  background-color: #dae2f1;
  opacity: 1.0;
}

</style>

<script>

$('.salary').each(function() {
  $(this).attr('data-value', salaryToInteger($(this).text()));
});

function salaryToInteger(salary) {
  var condensedSalary = salary.replace(/[$,.]/g,''); // Get rid of dollar signs and commas
  return parseInt(condensedSalary);
}

$(document).ready(function() {
  var fixHelperModified = function(e, tr) {
    var $originals = tr.children();
    var $helper = tr.clone();
    $helper.children().each(function(index) {
      $(this).width($originals.eq(index).width());
    });
    return $helper;
  };

  $("#table_with_custom_border tbody").sortable({
    helper: 'clone',
    delay: 150,
    tolerance: "pointer",

    start: function(event, ui) {
      $(this).find("tr").toggleClass('dragging');

    },
    stop: function(event, ui) {
      $(this).find("tr").toggleClass('dragging');
    },
    // containment: "#roster_div",
  }).disableSelection();

});
</script>

<h3>Lineup</h3>
<button id="edit_lineup_button" onClick="toggleLineupEdit()">Edit</button>
<div id="edit_lineup" style="display: none;">
  <%= render 'position_form' %>
</div>

<div id="view_lineup">
</br>
<table id="table_with_custom_border" class="table-condensed table-striped table-bordered">
  <thead>
    <tr>
      <th>Position</th>
      <th>Player</th>
    </tr>
  </thead>
  <tbody>
    <% for i in 0..12 do %>
      <tr>
        <td>
          <span class="position_slot"><%= @team.position_name(i) %></span></br>
        </td>
        <td><%= @team.player_at_position(i) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<script>
function toggleLineupEdit() {
  $("#edit_lineup").toggle();
  $("#view_lineup").toggle();
  $("#edit_lineup_button").toggle();
}

$('.position').each(function() {
  var positionSymbol = $(this).text();
  var position = '';
  switch (positionSymbol.toLowerCase()) {
    case 'p':
      $(this).attr('data-value',1);
      position = 'Pitcher';
      break;
    case 'c':
    $(this).attr('data-value',2);
      position = 'Catcher';
      break;
    case '1b':
      $(this).attr('data-value',3);
      position = 'First Base';
      break;
    case '2b':
      $(this).attr('data-value',4);
      position = 'Second Base';
      break;
    case '3b':
      $(this).attr('data-value',5);
      position = 'Third Base';
      break;
    case 'ss':
      $(this).attr('data-value',6);
      position = 'Shortstop';
      break;
    case 'lf':
      $(this).attr('data-value',7);
      position = 'Left Field';
      break;
    case 'cf':
      $(this).attr('data-value',8);
      position = 'Center Field';
      break;
    case 'rf':
      $(this).attr('data-value',9);
      position = 'Right Field';
      break;
  }
  $(this).text(position);
});

$('.height').each(function() {
  var height = $(this).text();
  var feet = Math.floor(Number(height)/12);
  var inches = Number(height) - feet*12;
  var text = $(this).text();
  $(this).text(feet + '\' ' + inches + '\"');
  $(this).attr('data-value', height);
});

$('.salary').each(function() {
  var item = $(this).text();
  var num = Number(item).toLocaleString('en');

  if(Number(item) < 0) {
    num = num.replace('-','');
    $(this).addClass('negMoney');
  } else {
    $(this).addClass('enMoney');
  }
  $(this).text(num);
});
</script>
