<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<%= javascript_include_tag 'bootstrap-sortable', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'moment.min', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'bootstrap-sortable', 'data-turbolinks-track' => true %>


<p id="notice"><%= notice %></p>

<h2>
<%= @team.city %>
<%= @team.name %>
</h2>

</br>

<p>
  <strong>League:</strong>
  <%= @team.league %>
</p>

<p>
  <strong>Division:</strong>
  <%= @team.division %>
</p>

<p>
  <strong>Stadium:</strong>
  <%= @team.stadium %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @team.capacity %>
</p>

</br>

<%= link_to 'Edit Team Info', edit_team_path(@team) %> |
<%= link_to 'Delete Team', @team, method: :delete, data: { confirm: 'Are you sure you want to delete the ' + @team.name + '?' } %> |
<%= link_to 'All Teams', teams_path %> |
<%= link_to 'Back', 'javascript:history.go(-1);' %>


<p/>

<h3>Roster</h3>

<table id="table_with_custom_border" class="table-condensed table-striped table-bordered table-responsive sortable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Height</th>
      <th>Weight</th>
      <th id="position_column_header" data-defaultsort="desc">Position</th>
      <th data-defaultsort='disabled'>Salary</th>
    </tr>
  </thead>

  <tbody>
    <% @team.players.each do |player| %>
      <tr>
        <td><%= link_to player.full_name, player %></td>
        <td><%= player.age %></td>
        <td class="height"><%= player.height %></td>
        <td><%= player.weight %> lb.</td>
        <td class="position"><%= player.position %></td>
        <td class="salary"><%= player.salary %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<script>
$('.position').each(function() {
  var positionSymbol = $(this).text();
  var position = '';
  switch (positionSymbol.toLowerCase()) {
    case 'p':
      position = 'Pitcher';
      break;
    case 'c':
      position = 'Catcher';
      break;
    case '1b':
      position = 'First Base';
      break;
    case '2b':
      position = 'Second Base';
      break;
    case '3b':
      position = 'Third Base';
      break;
    case 'ss':
      position = 'Shortstop';
      break;
    case 'lf':
      position = 'Left Field';
      break;
    case 'cf':
      position = 'Center Field';
      break;
    case 'rf':
      position = 'Right Field';
      break;
  }
  $(this).text(position);
});

$('.height').each(function() {
  var height = $(this).text();
  var feet = Math.floor(Number(height)/12);
  var inches = Number(height) - feet*12;
  $(this).text(feet + '\' ' + inches + '\"');
});

$('.salary').each(function() {
  var item = $(this).text();
  var num = Number(item).toLocaleString('en');

  if(Number(item) < 0) {
    num = num.replace('-','');
    $(this).addClass('negMoney');
  } else {
    $(this).addClass('enMoney');
  }
  $(this).text(num);
});
</script>
