<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<%= stylesheet_link_tag "jquery-ui.min", 'data-turbolinks-track' => true %>
<%= javascript_include_tag "jquery-ui.min", 'data-turbolinks-track' =>true %>
<%= javascript_include_tag 'bootstrap-sortable', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'moment.min', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'bootstrap-sortable', 'data-turbolinks-track' => true %>
<!-- <p id="notice"><%= notice %></p> -->

<style>

.ui-checkboxradio-label {
  font-size: 12px !important;
  padding: 5px;
}

.ui-checkboxradio {
  padding: 5px;
}

.ui-checkboxradio-checked {
  background-color: #0047b3;
  border-color: #80b3ff;
}

.ui-tooltip-content {
  font-size:8pt;
}

.ui-tooltip {
  max-width: 800px;
}

.order {
  float: left;
  border-top: 4px solid #54708C;
  border-left: 4px solid #54708C;
  border-bottom: 4px solid #54708C;
}

.rotation_roles {
  float: left;
  border-top: 4px solid #54708C;
  border-left: 4px solid #54708C;
  border-bottom: 4px solid #54708C;
}

.lineup {
  border-top: 4px solid #54708C;
  border-right: 4px solid #54708C;
  border-bottom: 4px solid #54708C;
}

.rotation {
  border-top: 4px solid #54708C;
  border-right: 4px solid #54708C;
  border-bottom: 4px solid #54708C;
}

.ui-sortable tr {
  cursor: move;
}

.dragging {
  /*background-color: #edf0f8;
  opacity: 0.5;*/
}

.ui-sortable-helper {
  background-color: #dae2f1;
  opacity: 1.0;
}

#lineup_changed {
  padding-top: 10px;
}

#position_player_table_div {
  padding-top: 30px;
  padding-bottom: 10px;
}

#lineup_div {
  padding-top: 3px;
  float: left;
  width: 300px;
}

#lineup_title:hover {
  cursor: help;
  width: 0px;
}

.ui-tabs {
  background-color: white;
}

.ui-tabs-nav {
  background-color: #9fbfdf;
}

#team_name_div {
  padding-left: 28px;
}

.player_table td {
  font-size: 12px;
}

.nav li {
  cursor: pointer;
}

</style>

<!-- <div class="col-lg-1">
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a>Batting</a></li>
    <li><a>Pitching</a></li>
    <li><a>Lineup</a></li>
    <li><a>Schedule</a></li>
  </ul>
</div> -->

  <div id="team_name_div">
    <span id="current_user_id" hidden><%= current_user.id if current_user %></span>
    <span id="team_id" hidden><%= @team.id %></span>
    <span id="owner">
    <% if @team.user_id == -1 %>
      <% if current_user && current_user.team_id == -1 %>
      <h2><%= @team.full_name %> <button class="btn btn-primary" id="own_team">Own this team</button></h2>
      <% else %>
      <h2><%= @team.full_name %> <small>(Unowned)</small></h2>
      <% end %>
    <% else %>
    <h2><%= @team.full_name %> <small>Owner: <%= link_to @team.user.name, @team.user, method: :get %></small></h2>
    <% end %>
    </span>
  </div>
  <div class="container-fluid">
  <div class="col-sm-2">
    <p>
      <strong>League:</strong>
      <%= @team.league %>
    </p>

    <p>
      <strong>Division:</strong>
      <%= @team.division %>
    </p>
  </div>
  <div class="col-sm-2">

    <p>
      <strong>Stadium:</strong>
      <%= @team.stadium %>
    </p>

    <p>
      <strong>Capacity:</strong>
      <%= @team.capacity %>
    </p>
  </div>
  <div class="col-sm-2">

    <p>
      <strong>Record:</strong>
      <%= link_to @team.wins.to_s + "-" + @team.losses.to_s, "/teams", method: :get %>
    </p>
  </div>
</div>

<!-- <div class="container-fluid">


  <ul id="sortable">
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 1</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 2</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 3</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 4</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 5</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 6</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 7</li>
</ul>
</div> -->
<div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#teamNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="teamNavbar">
        <ul class="nav navbar-nav">
          <li><a id="show-roster-position-players-link">View Hitters</a></li>
          <li><a id="show-roster-pitchers-link">View Pitchers</a></li>
          <li><a id="edit-defense-link">Edit Defense</a></li>
          <li><a id="edit-pitching-link">Edit Pitching</a></li>
          <li><a id="show-schedule-link">Schedule</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div id="view-mode-div" class="container-fluid">
  <fieldset>
    <label for="radio-info">Info</label>
    <input type="radio" name="radio-view-type" id="radio-info">
    <label for="radio-stats">Stats</label>
    <input type="radio" name="radio-view-type" id="radio-stats">
    <label for="radio-attributes">Actual Ratings</label>
    <input type="radio" name="radio-view-type" id="radio-attributes" checked>
    <label for="radio-potentials">Potential Ratings</label>
    <input type="radio" name="radio-view-type" id="radio-potentials">
  </fieldset>
</div>

<div id="show-roster-position-players-partial"><%= render partial: "showRosterPositionPlayers" %></div>
<div id="show-roster-pitchers-partial" hidden><%= render partial: "showRosterPitchers" %></div>
<div id="edit-pitching-partial" hidden><%= render partial: "editPitching" %></div>
<div id="edit-defense-partial" hidden><%= render partial: "editPositions" %></div>
<div id="show-schedule-partial" hidden><%= render partial: "showSchedule" %></div>

<style media="screen">
  .position-highlight {
    background-color: green;
  }
  .cell-with-right-border {
    border-right: 1px solid #e6e6e6;
  }
  td {
    font-size: 12px;
    padding: 8px !important;
    height: 40px;
  }
  .position-mismatch {
    color: red;
  }
</style>

<script>

$("input").checkboxradio({
    icon: false
});

$("#radio-info").click(function() {
  $(".info_cell").each(function() {
    $(this).show();
  });
  $(".stats_cell").each(function() {
    $(this).hide();
  });
  $(".attribute_cell").each(function() {
    $(this).hide();
  });
  $(".potentials_cell").each(function() {
    $(this).hide();
  });
});

$("#radio-stats").click(function() {
  $(".info_cell").each(function() {
    $(this).hide();
  });
  $(".stats_cell").each(function() {
    $(this).show();
  });
  $(".attribute_cell").each(function() {
    $(this).hide();
  });
  $(".potentials_cell").each(function() {
    $(this).hide();
  });
});

$("#radio-attributes").click(function() {
  $(".info_cell").each(function() {
    $(this).hide();
  });
  $(".stats_cell").each(function() {
    $(this).hide();
  });
  $(".attribute_cell").each(function() {
    $(this).show();
  });
  $(".potentials_cell").each(function() {
    $(this).hide();
  });
});

$("#radio-potentials").click(function() {
  $(".info_cell").each(function() {
    $(this).hide();
  });
  $(".stats_cell").each(function() {
    $(this).hide();
  });
  $(".attribute_cell").each(function() {
    $(this).show();
  });
  $(".potentials_cell").each(function() {
    $(this).show();
  });
});

$("#show-schedule-link").click(function() {
  $("#edit-pitching-partial").hide();
  $("#edit-defense-partial").hide();
  $("#show-roster-position-players-partial").hide();
  $("#show-roster-pitchers-partial").hide();
  $("#show-schedule-partial").show();
  $("#view-mode-div").hide();
});

$("#show-roster-position-players-link").click(function() {
  $("#edit-pitching-partial").hide();
  $("#edit-defense-partial").hide();
  $("#show-roster-position-players-partial").show();
  $("#show-roster-pitchers-partial").hide();
  $("#show-schedule-partial").hide();
  $("#view-mode-div").show();
});

$("#show-roster-pitchers-link").click(function() {
  $("#edit-pitching-partial").hide();
  $("#edit-defense-partial").hide();
  $("#show-roster-position-players-partial").hide();
  $("#show-roster-pitchers-partial").show();
  $("#show-schedule-partial").hide();
  $("#view-mode-div").show();
});

$("#edit-pitching-link").click(function() {
  $("#edit-pitching-partial").show();
  $("#edit-defense-partial").hide();
  $("#show-roster-position-players-partial").hide();
  $("#show-roster-pitchers-partial").hide();
  $("#show-schedule-partial").hide();
  $("#view-mode-div").show();
});

$("#edit-defense-link").click(function() {
  $("#edit-pitching-partial").hide();
  $("#edit-defense-partial").show();
  $("#show-roster-position-players-partial").hide();
  $("#show-roster-pitchers-partial").hide();
  $("#show-schedule-partial").hide();
  $("#view-mode-div").show();
});

$(".info_cell").hide();
$(".stats_cell").hide();

function hotCold() {
  $('.hotcold').each(function() {
    var val = $(this).text();
    var red;
    var blue;
    var green;
    if (val > 50) {
      green = 0;
      blue = 0;
      red = (val - 50)*255/50;
    } else {
      green = 0;
      red = 0;
      blue = (50 - val)*255/50
    }
    var rgb = "rgb(" + Math.floor(red) + "," + Math.floor(green) + "," + Math.floor(blue) + ")";
    $(this).css({"color":rgb});
  });
}
hotCold();

$(function() {
  $(".tooltip_enable").tooltip({
    show: {
      delay: 250
    },
    content: function () {
      return $(this).prop('title');
    }
  });
});

$('#own_team').click(function() {
  var current_user_id = $('#current_user_id').text();
  var team_id = $('#team_id').text();
  $.ajax({
    url: '/users/' + current_user_id,
    type: 'PATCH',
    dataType: 'json',
    data: { "user": { "team_id": team_id
          }
    },
    success: function (data, textStatus, jqXHR) {
    }
  });
  $.ajax({
    url: window.location.href,
    type: 'PATCH',
    dataType: 'json',
    data: { "team": { "user_id": current_user_id
          }
    },
    success: function (data, textStatus, jqXHR) {
      location.reload();
    }
  });
});

function formatData() {
  $('.position').each(function() {
    var positionSymbol = $(this).text();
    var position = '';
    switch (positionSymbol.toLowerCase()) {
      case 'p':
      $(this).attr('data-value',1);
      position = 'Pitcher';
      break;
      case 'c':
      $(this).attr('data-value',2);
      position = 'Catcher';
      break;
      case '1b':
      $(this).attr('data-value',3);
      position = 'First Base';
      break;
      case '2b':
      $(this).attr('data-value',4);
      position = 'Second Base';
      break;
      case '3b':
      $(this).attr('data-value',5);
      position = 'Third Base';
      break;
      case 'ss':
      $(this).attr('data-value',6);
      position = 'Shortstop';
      break;
      case 'lf':
      $(this).attr('data-value',7);
      position = 'Left Field';
      break;
      case 'cf':
      $(this).attr('data-value',8);
      position = 'Center Field';
      break;
      case 'rf':
      $(this).attr('data-value',9);
      position = 'Right Field';
      break;
    }
    $(this).text(position);
  });

  $('.salary').each(function() {
    var item = $(this).text();
    var num = localeString(Number(item), ',', 3);

    if(Number(item) < 0) {
      num = num.replace('-','');
      $(this).addClass('negMoney');
    } else {
      $(this).addClass('enMoney');
    }
    $(this).text(num);
  });

  $('.salary').each(function() {
    $(this).attr('data-value', salaryToInteger($(this).text()));
  });
}
formatData();

function salaryToInteger(salary) {
  var condensedSalary = salary.replace(/[$,.]/g,''); // Get rid of dollar signs and commas
  return parseInt(condensedSalary);
}

</script>
