<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<%= stylesheet_link_tag "jquery-ui.min", 'data-turbolinks-track' => true %>
<%= javascript_include_tag "jquery-ui.min", 'data-turbolinks-track' =>true %>
<%= javascript_include_tag 'bootstrap-sortable', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'moment.min', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'bootstrap-sortable', 'data-turbolinks-track' => true %>
<!-- <p id="notice"><%= notice %></p> -->

<style>

.order {
  float: left;
  border-top: 4px solid #54708C;
  border-left: 4px solid #54708C;
  border-bottom: 4px solid #54708C;
}
.lineup {
  border-top: 4px solid #54708C;
  border-right: 4px solid #54708C;
  border-bottom: 4px solid #54708C;
}

.ui-sortable tr {
  cursor: move;
}

.dragging {
  background-color: #edf0f8;
  opacity: 0.5;
}

.ui-sortable-helper {
  background-color: #dae2f1;
  opacity: 1.0;
}

#lineup_changed {
  padding-top: 10px;
}

#roster_div {
  padding-top: 1px;
}

#lineup_div {
  padding-top: 3px;
  float: left;
  width: 275px;
}

#lineup_title:hover {
  cursor: help;
  width: 0px;
}

</style>

<h2>
<%= @team.city %>
<%= @team.name %>
</h2>
<p>
  <%= link_to 'Edit Team Info', edit_team_path(@team), method: :get %> |
  <%= link_to 'Delete Team', @team, method: :delete, data: { confirm: 'Are you sure you want to delete the ' + @team.name + '?' } %> |
  <%= link_to 'All Teams', teams_path, method: :get %> |
  <%= link_to 'Back', 'javascript:history.go(-1);', method: :get %>
</p>


<div id="lineup_div">
  <p>
    <strong>League:</strong>
    <%= @team.league %>
  </p>

  <p>
    <strong>Division:</strong>
    <%= @team.division %>
  </p>

  <p>
    <strong>Stadium:</strong>
    <%= @team.stadium %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= @team.capacity %>
  </p>

  <h3 id="lineup_title" data-toggle="tooltip" data-placement="top" title="Drag from roster to set positions.
                                    Reorder table to set lineup.">Lineup</h3>

  <div id="view_lineup">
    </br>
    <table class="multi-table order table-condensed table-striped table-bordered">
      <thead>
        <tr>
          <th>
            Order
          </th>
        </tr>
      </thead>
      <tbody>
        <% for i in 1..9 do %>
        <tr><td><%= i %></td></tr>
        <% end %>
      </tbody>
    </table>
    <table id="batting_order" class="multi-table lineup table-condensed table-striped table-bordered">
      <thead>
        <tr>
          <th>Position</th>
          <th>Player</th>
        </tr>
      </thead>
      <tbody>
        <% for i in 0..8 do %>
          <tr>
            <td>
              <%= @team.find_position(i) %>
            </td>
            <td>
              <span class="hidden_position_name" hidden><%= @team.find_position_name(i) %></span>
              <span class="hidden_position_index" hidden><%= @team.find_lineup_index(i) %></span>
                <% if @team.find_player_by_position(i).is_a? Player %>
                  <%= link_to @team.find_player_by_position(i).full_name, @team.find_player_by_position(i), method: :get %>
                  <span class="hidden_id" hidden><%= @team.find_player_by_position_id(i) %></span>
                  <span class="hidden_row_number" hidden><%= "lineup#{(i+1)}" %></span>
                <% else %>
                  <%= '--' %>
                  <span class="hidden_id" hidden><%= nil %></span>
                  <span class="hidden_row_number" hidden><%= "lineup#{(i+1)}" %></span>
                <% end %>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div id="lineup_changed" hidden>
    <button id="save_lineup_changes" onclick="saveLineupChanges()">Save Lineup Changes</button>
  </div>
</div>

<div id="roster_div">
  <h3>Roster</h3>
  <table class="table_with_custom_border roster sortable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Height</th>
        <th>Weight</th>
        <th id="position_column_header" data-defaultsort="asc">Natural Position</th>
        <th>Salary</th>
      </tr>
    </thead>
    <tbody>
      <% @team.players.each do |player| %>
        <tr class="player_row">
          <td><%= link_to player.full_name, player, method: :get %><span "hidden_id" hidden><%= player.id %></span></td>
          <td><%= player.age %></td>
          <td class="height"><%= player.height %></td>
          <td><%= player.weight %> lb.</td>
          <td class="position"><%= player.position %></td>
          <td class="salary"><%= player.salary %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<script>

var initial_player_ids;

$(document).ready(function() {
  $('#lineup_title').tooltip();

  initial_player_ids = $.map($(".lineup tbody").find("tr"), function(element) {
    return $(element).find("td span.hidden_position_index").text();
  })
  // console.log(initial_player_ids);
});

function battingOrderChanged() {
  player_ids = $.map($(".lineup tbody").find("tr"), function(element) {
    return $(element).find("td span.hidden_position_index").text();
  });

  // defense_ids = $.map($(".lineup tbody").find("tr"), function(element) {
  //   return $(element).find("td span.hidden_position_name").text();
  // });
  // console.log(defense_ids);
  if(player_ids.length !== initial_player_ids.length) {
    return true;
  }
  var i;
  for (i=0; i<player_ids.length; i++) {
    if (player_ids[i] !== initial_player_ids[i]) {
      return true;
    }
  }
  return false;
}

function saveLineupChanges() {
  lineup_indices = $.map($(".lineup tbody").find("tr"), function(element) {
    return $(element).find("td span.hidden_position_index").text();
  });

  console.log(lineup_indices);

  $.ajax({
    url: window.location.href,
    type: 'PATCH',
    dataType: 'json',
    data: { "team": { "lineup1": lineup_indices[0],
                      "lineup2": lineup_indices[1],
                      "lineup3": lineup_indices[2],
                      "lineup4": lineup_indices[3],
                      "lineup5": lineup_indices[4],
                      "lineup6": lineup_indices[5],
                      "lineup7": lineup_indices[6],
                      "lineup8": lineup_indices[7],
                      "lineup9": lineup_indices[8]
                    }
          },
  });
  $("#lineup_changed").hide();
}

$('.position').each(function() {
  var positionSymbol = $(this).text();
  var position = '';
  switch (positionSymbol.toLowerCase()) {
    case 'p':
      $(this).attr('data-value',1);
      position = 'Pitcher';
      break;
    case 'c':
    $(this).attr('data-value',2);
      position = 'Catcher';
      break;
    case '1b':
      $(this).attr('data-value',3);
      position = 'First Base';
      break;
    case '2b':
      $(this).attr('data-value',4);
      position = 'Second Base';
      break;
    case '3b':
      $(this).attr('data-value',5);
      position = 'Third Base';
      break;
    case 'ss':
      $(this).attr('data-value',6);
      position = 'Shortstop';
      break;
    case 'lf':
      $(this).attr('data-value',7);
      position = 'Left Field';
      break;
    case 'cf':
      $(this).attr('data-value',8);
      position = 'Center Field';
      break;
    case 'rf':
      $(this).attr('data-value',9);
      position = 'Right Field';
      break;
  }
  $(this).text(position);
});

$('.height').each(function() {
  var height = $(this).text();
  var feet = Math.floor(Number(height)/12);
  var inches = Number(height) - feet*12;
  var text = $(this).text();
  $(this).text(feet + '\' ' + inches + '\"');
  $(this).attr('data-value', height);
});

$('.salary').each(function() {
  var item = $(this).text();
  var num = Number(item).toLocaleString('en');

  if(Number(item) < 0) {
    num = num.replace('-','');
    $(this).addClass('negMoney');
  } else {
    $(this).addClass('enMoney');
  }
  $(this).text(num);
});

$('.salary').each(function() {
  $(this).attr('data-value', salaryToInteger($(this).text()));
});

function salaryToInteger(salary) {
  var condensedSalary = salary.replace(/[$,.]/g,''); // Get rid of dollar signs and commas
  return parseInt(condensedSalary);
}

$(".dragging").each(function() {
  $(this).css('opacity', '0.5');
});

$(document).ready(function() {

  var fixHelperModified = function(e, tr) {
    var $originals = tr.children();
    var $helper = tr.clone();
    $helper.children().each(function(index) {
      $(this).width($originals.eq(index).width());
    });
    return $helper;
  };

  $(".roster tbody tr").draggable({
    helper: 'clone',
    delay: 150,
    revert: true,

    start: function(event, ui) {
      $(this).toggleClass('dragging');
      console.log("I am dragging " + $(this).find("span").text());
    },
    stop: function(event, ui) {
      $(this).toggleClass('dragging');
    },
    // containment: "#roster_div",
  }).disableSelection();

  $(".lineup tbody").sortable({
    helper: 'clone',
    delay: 150,
    tolerance: "pointer",

    start: function(event, ui) {
      $(this).toggleClass('dragging');

    },
    stop: function(event, ui) {
      if (battingOrderChanged()) {
        $('#lineup_changed').show();
      } else {
        $('#lineup_changed').hide();
      }
      $(this).toggleClass('dragging');
    },
    // containment: "#view_lineup"
  }).disableSelection();

  $("#batting_order tbody tr").droppable({
    drop: function(event, ui) {
      var player_id = ui.draggable.find("span");
      if (player_id.closest("div").is("#roster_div")) {
        var defense_position = $(this).find("span.hidden_position_name");
        console.log("player " + player_id.text() + " is now at " + defense_position.text());
        var lineupData = { };
        lineupData[defense_position.text()] = parseInt(player_id.text());
        var teamData = { };
        teamData["team"] = lineupData;
        $.ajax({
          url: window.location.href,
          type: 'PATCH',
          dataType: 'json',
          data: teamData,
        });
        location.reload();
      }
    },
  })

});
</script>
