<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<p id="notice"><%= notice %></p>

<p>
  <strong>Home team:</strong>
  <%= @game.home_team_id %>
</p>

<p>
  <strong>Away team:</strong>
  <%= @game.away_team_id %>
</p>

<p>
  <strong>Attendance:</strong>
  <%= @game.attendance %>
</p>

<p>
  <strong>Stadium name:</strong>
  <%= @game.stadium_name %>
</p>

<p>
  <strong>Home lineup:</strong>
  <%= @game.home_lineup %>
</p>

<p>
  <strong>Away lineup:</strong>
  <%= @game.away_lineup %>
</p>

<p>
  <strong>Home atbats:</strong>
  <%= @game.home_atbats %>
</p>

<p>
  <strong>Home runs scored:</strong>
  <%= @game.home_runs_scored %>
</p>

<p>
  <strong>Home hits:</strong>
  <%= @game.home_hits %>
</p>

<p>
  <strong>Home doubles:</strong>
  <%= @game.home_doubles %>
</p>

<p>
  <strong>Home triples:</strong>
  <%= @game.home_triples %>
</p>

<p>
  <strong>Home home runs:</strong>
  <%= @game.home_home_runs %>
</p>

<p>
  <strong>Home rbi:</strong>
  <%= @game.home_RBI %>
</p>

<p>
  <strong>Home walks:</strong>
  <%= @game.home_walks %>
</p>

<p>
  <strong>Home strikeouts:</strong>
  <%= @game.home_strikeouts %>
</p>

<p>
  <strong>Home stolen bases:</strong>
  <%= @game.home_stolen_bases %>
</p>

<p>
  <strong>Home caught stealing:</strong>
  <%= @game.home_caught_stealing %>
</p>

<p>
  <strong>Home errors:</strong>
  <%= @game.home_errors %>
</p>

<p>
  <strong>Home assists:</strong>
  <%= @game.home_assists %>
</p>

<p>
  <strong>Home putouts:</strong>
  <%= @game.home_putouts %>
</p>

<p>
  <strong>Home chances:</strong>
  <%= @game.home_chances %>
</p>

<p>
  <strong>Away atbats:</strong>
  <%= @game.away_atbats %>
</p>

<p>
  <strong>Away runs scored:</strong>
  <%= @game.away_runs_scored %>
</p>

<p>
  <strong>Away hits:</strong>
  <%= @game.away_hits %>
</p>

<p>
  <strong>Away doubles:</strong>
  <%= @game.away_doubles %>
</p>

<p>
  <strong>Away triples:</strong>
  <%= @game.away_triples %>
</p>

<p>
  <strong>Away home runs:</strong>
  <%= @game.away_home_runs %>
</p>

<p>
  <strong>Away rbi:</strong>
  <%= @game.away_RBI %>
</p>

<p>
  <strong>Away walks:</strong>
  <%= @game.away_walks %>
</p>

<p>
  <strong>Away strikeouts:</strong>
  <%= @game.away_strikeouts %>
</p>

<p>
  <strong>Away caught stealing:</strong>
  <%= @game.away_caught_stealing %>
</p>

<p>
  <strong>Away errors:</strong>
  <%= @game.away_errors %>
</p>

<p>
  <strong>Away assists:</strong>
  <%= @game.away_assists %>
</p>

<p>
  <strong>Away putouts:</strong>
  <%= @game.away_putouts %>
</p>

<p>
  <strong>Away chances:</strong>
  <%= @game.away_chances %>
</p>

<p>
  <strong>Home pitchers:</strong>
  <%= @game.home_pitchers %>
</p>

<p>
  <strong>Away pitchers:</strong>
  <%= @game.away_pitchers %>
</p>

<p>
  <strong>Home innings pitched:</strong>
  <%= @game.home_innings_pitched %>
</p>

<p>
  <strong>Home hits allowed:</strong>
  <%= @game.home_hits_allowed %>
</p>

<p>
  <strong>Home runs allowed:</strong>
  <%= @game.home_runs_allowed %>
</p>

<p>
  <strong>Home earned runs allowed:</strong>
  <%= @game.home_earned_runs_allowed %>
</p>

<p>
  <strong>Home walks allowed:</strong>
  <%= @game.home_walks_allowed %>
</p>

<p>
  <strong>Home strikeouts recorded:</strong>
  <%= @game.home_strikeouts_recorded %>
</p>

<p>
  <strong>Home home runs allowed:</strong>
  <%= @game.home_home_runs_allowed %>
</p>

<p>
  <strong>Home total pitches:</strong>
  <%= @game.home_total_pitches %>
</p>

<p>
  <strong>Home strikes thrown:</strong>
  <%= @game.home_strikes_thrown %>
</p>

<p>
  <strong>Home balls thrown:</strong>
  <%= @game.home_balls_thrown %>
</p>

<p>
  <strong>Home intentional walks allowed:</strong>
  <%= @game.home_intentional_walks_allowed %>
</p>

<p>
  <strong>Away innings pitched:</strong>
  <%= @game.away_innings_pitched %>
</p>

<p>
  <strong>Away hits allowed:</strong>
  <%= @game.away_hits_allowed %>
</p>

<p>
  <strong>Away runs allowed:</strong>
  <%= @game.away_runs_allowed %>
</p>

<p>
  <strong>Away earned runs allowed:</strong>
  <%= @game.away_earned_runs_allowed %>
</p>

<p>
  <strong>Away walks allowed:</strong>
  <%= @game.away_walks_allowed %>
</p>

<p>
  <strong>Away strikeouts recorded:</strong>
  <%= @game.away_strikeouts_recorded %>
</p>

<p>
  <strong>Away home runs allowed:</strong>
  <%= @game.away_home_runs_allowed %>
</p>

<p>
  <strong>Away total pitches:</strong>
  <%= @game.away_total_pitches %>
</p>

<p>
  <strong>Away strikes thrown:</strong>
  <%= @game.away_strikes_thrown %>
</p>

<p>
  <strong>Away balls thrown:</strong>
  <%= @game.away_balls_thrown %>
</p>

<p>
  <strong>Away intentional walks allowed:</strong>
  <%= @game.away_intentional_walks_allowed %>
</p>

<p>
  <strong>Player of the game:</strong>
  <%= @game.player_of_the_game %>
</p>

<%= link_to 'Edit', edit_game_path(@game), method: :get %> |
<%= link_to 'Back', games_path, method: :get %>
