<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :power, :value => rand(1..100) %>
    <%= f.hidden_field :contact, :value => rand(1..100) %>
    <%= f.hidden_field :speed, :value => rand(1..100) %>
    <%= f.hidden_field :patience, :value => rand(1..100) %>
    <%= f.hidden_field :plate_vision, :value => rand(1..100) %>
    <%= f.hidden_field :pull_amount, :value => rand(1..100) %>
    <%= f.hidden_field :uppercut_amount, :value => rand(1..100) %>
    <%= f.hidden_field :batting_average, :value => rand(1..100) %>
    <%= f.hidden_field :movement, :value => rand(1..100) %>
    <%= f.hidden_field :control, :value => rand(1..100) %>
    <%= f.hidden_field :location, :value => rand(1..100) %>
    <%= f.hidden_field :agility, :value => rand(1..100) %>
    <%= f.hidden_field :reactionTime, :value => rand(1..100) %>
    <%= f.hidden_field :armStrength, :value => rand(1..100) %>
    <%= f.hidden_field :fieldGrounder, :value => rand(1..100) %>
    <%= f.hidden_field :fieldLiner, :value => rand(1..100) %>
    <%= f.hidden_field :fieldFlyball, :value => rand(1..100) %>
    <%= f.hidden_field :fieldPopup, :value => rand(1..100) %>
    <%= f.hidden_field :throwShort, :value => rand(1..100) %>
    <%= f.hidden_field :throwMedium, :value => rand(1..100) %>
    <%= f.hidden_field :throwLong, :value => rand(1..100) %>
    <%= f.hidden_field :intelligence, :value => rand(1..100) %>
    <%= f.hidden_field :endurance, :value => rand(1..100) %>
  </div>

  <div class="field">
    <%= f.label :team_id %><br>
    <%= collection_select(:player, :team_id, Team.all, :id, :full_name) %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, :value => Faker::Name.first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, :value => Faker::Name.last_name %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.select :age, options_for_select(17..40, rand(17..40)) %>
  </div>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.number_field :height, :value => rand(66..78) %>
  </div>
  <div class="weight-field field">
    <%= f.label :weight %><br>
    <%= f.number_field :weight, :value => rand(160..300) %>
  </div>
  <div id="weight-slider"></div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.select :position, options_for_select({"Pitcher" => "P", "Catcher" => "C", "First Base" => "1B",
                                                  "Second Base" => "2B", "Third Base" => "3B", "Shortstop" => "SS",
                                                      "Left Field" => "LF", "Center Field" => "CF", "Right Field" => "RF"}, ['P','C','1B','2B','3B','SS','LF','CF','RF'].sample) %>
  </div>
  <div class="field">
    <%= f.label :salary %><br>
    <%= f.number_field :salary, :value => rand(500000..20000000) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<style>
#weight-slider {
  width: 150px
}
</style>

<script>

$(".weight-field :input[type='number']").focusout(function() {
  var min_weight = 160;
  var max_weight = 300;
  var toInteger = parseInt($(this).val());
  $(this).val(toInteger);
  if ($(this).val() < min_weight) {
    $(this).val(min_weight);
  }
  if ($(this).val() > max_weight) {
    $(this).val(max_weight);
  }
  $("#weight-slider").slider('value',toInteger);
});

$(function() {
    $( "#weight-slider" ).slider({
      min: 160,
      max: 300,
      animate: true,
      value: $(".weight-field :input[type='number']").val(),
      step: 1,
      slide: function( event, ui ) {
        $( "#amount" ).val( ui.value);
        $(".weight-field :input[type='number']").val(ui.value);
      }
    });
  });

  $('.position').each(function() {
    var positionSymbol = $(this).text();
    var position = '';
    switch (positionSymbol.toLowerCase()) {
      case 'p':
        position = 'Pitcher';
        break;
      case 'c':
        position = 'Catcher';
        break;
      case '1b':
        position = 'First Base';
        break;
      case '2b':
        position = 'Second Base';
        break;
      case '3b':
        position = 'Third Base';
        break;
      case 'ss':
        position = 'Shortstop';
        break;
      case 'lf':
        position = 'Left Field';
        break;
      case 'cf':
        position = 'Center Field';
        break;
      case 'rf':
        position = 'Right Field';
        break;
    }
    $(this).text(position);
  });
</script>
