<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<%= stylesheet_link_tag "jquery-ui.min", 'data-turbolinks-track' => true %>
<%= javascript_include_tag "jquery-ui.min", 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'bootstrap-sortable', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'moment.min', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'bootstrap-sortable', 'data-turbolinks-track' => true %>

<style>
  .table_with_custom_border > thead > tr > th {
    padding-right: 18px;
  }
  .ui-tooltip-content {
    font-size:8pt;
  }
</style>

<p id="notice"><%= notice %></p>

<h1>Players</h1>
<br/>
<h5>Search: <input type="text" id="player_search" class="search_box" onkeyup="doSearch()" /></h5>
<br/>

<table id="player_index_table" class="table_with_custom_border table-condensed table-striped table-bordered table-responsive sortable">
  <thead>
    <tr>
      <th id=name_column_header data-defaultsort="asc">Name</th>
      <th>Team</th>
      <th>Age</th>
      <th>Height</th>
      <th>Weight</th>
      <th>Position</th>
      <th>Salary</th>
      <th class="tooltip_enable" title="At-bats">AB</th>
      <th class="tooltip_enable" title="Runs scored">R</th>
      <th class="tooltip_enable" title="Hits">H</th>
      <th class="tooltip_enable" title="Doubles">2B</th>
      <th class="tooltip_enable" title="Triples">3B</th>
      <th class="tooltip_enable" title="Home runs">HR</th>
      <th class="tooltip_enable" title="Runs batted in">RBI</th>
      <th class="tooltip_enable" title="Walks">BB</th>
      <th class="tooltip_enable" title="Strikeouts">K</th>
      <th class="tooltip_enable" title="Stolen bases">SB</th>
      <th class="tooltip_enable" title="Caught stealing">CS</th>
      <th class="tooltip_enable" title="Batting average">AVG</th>
      <th class="tooltip_enable" title="On-base percentage">OBP</th>
      <th class="tooltip_enable" title="Slugging percentage">SLG</th>
      <th class="tooltip_enable" title="On-base plus slugging percentage">OPS</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= link_to player.full_name, player, method: :get %></td>
        <td><%= link_to player.team.full_name, player.team, method: :get %></td>
        <td><%= player.age %></td>
        <td class="height"><%= player.height %></td>
        <td><%= player.weight %> lb.</td>
        <td class="position"><%= player.position %></td>
        <td class="salary"><%= number_to_currency(player.salary) %></td>
        <td><%= player.atbats %></td>
        <td><%= player.runs %></td>
        <td><%= player.hits %></td>
        <td><%= player.doubles %></td>
        <td><%= player.triples %></td>
        <td><%= player.home_runs %></td>
        <td><%= player.rbi %></td>
        <td><%= player.walks %></td>
        <td><%= player.strikeouts %></td>
        <td><%= player.stolen_bases %></td>
        <td><%= player.caught_stealing %></td>
        <% @avg = player.hits.to_f/player.atbats.to_f %>
        <% @obp = (player.hits + player.walks).to_f/(player.atbats + player.walks).to_f %>
        <% @slg = (player.hits - player.doubles - player.triples - player.home_runs + 2 * player.doubles + 3 * player.triples + 4 * player.home_runs).to_f/player.atbats.to_f %>
        <% @ops = @obp + @slg %>
        <td><%= number_with_precision(drop_leading_zero(@avg), precision: 3) %></td>
        <td><%= number_with_precision(drop_leading_zero(@obp), precision: 3) %></td>
        <td><%= number_with_precision(drop_leading_zero(@slg), precision: 3) %></td>
        <td><%= number_with_precision(drop_leading_zero(@ops), precision: 3) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<style>

.players {
  pointer-events: none;
  opacity: 0.5;
}

</style>

<script>

$(function() {
  $(".tooltip_enable").tooltip({
    show: {
      delay: 250
    }
  });
});

$('.salary').each(function() {
  $(this).attr('data-value',salaryToInteger($(this).text()));
});

function salaryToInteger(salary) {
  var condensedSalary = salary.replace(/[$,.]/g,''); // Get rid of dollar signs and commas
  return parseInt(condensedSalary);
}

$('.position').each(function() {
  var positionSymbol = $(this).text();
  var position = '';
  switch (positionSymbol.toLowerCase()) {
    case 'p':
      $(this).attr('data-value',1);
      position = 'Pitcher';
      break;
    case 'c':
    $(this).attr('data-value',2);
      position = 'Catcher';
      break;
    case '1b':
      $(this).attr('data-value',3);
      position = 'First Base';
      break;
    case '2b':
      $(this).attr('data-value',4);
      position = 'Second Base';
      break;
    case '3b':
      $(this).attr('data-value',5);
      position = 'Third Base';
      break;
    case 'ss':
      $(this).attr('data-value',6);
      position = 'Shortstop';
      break;
    case 'lf':
      $(this).attr('data-value',7);
      position = 'Left Field';
      break;
    case 'cf':
      $(this).attr('data-value',8);
      position = 'Center Field';
      break;
    case 'rf':
      $(this).attr('data-value',9);
      position = 'Right Field';
      break;
  }
  $(this).text(position);
});

$('.height').each(function() {
  var height = $(this).text();
  var feet = Math.floor(Number(height)/12);
  var inches = Number(height) - feet*12;
  var text = $(this).text();
  $(this).text(feet + '\' ' + inches + '\"');
  $(this).attr('data-value', height);
});

function doSearch() {
  console.log("doSearch just got called");
  var searchText = document.getElementById('player_search').value;
  var table = document.getElementById('player_index_table');
  var numColumns;

  // Loop through all the rows of the table
  for (var rowIndex=0; rowIndex<table.rows.length; rowIndex++) {
    var rowData = '';

    // Get column count from header row
    if (rowIndex==0) {
      numColumns = table.rows.item(rowIndex).cells.length;
      continue;
    }

    // Populate rowData with all cell values
    for (var colIndex=0; colIndex<numColumns; colIndex++) {
      rowData += table.rows.item(rowIndex).cells.item(colIndex).textContent;
    }

    // Hide the row if the search term is not found
    if (rowData.toLowerCase().indexOf(searchText.toLowerCase()) == -1) {
      table.rows.item(rowIndex).style.display = 'none';
    } else {
      table.rows.item(rowIndex).style.display = 'table-row';
    }
  }
}

</script>
