<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<%= javascript_include_tag 'bootstrap-sortable', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'moment.min', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'bootstrap-sortable', 'data-turbolinks-track' => true %>

<p id="notice"><%= notice %></p>


  <h1>Players</h1>
  <br/>
  <h5>Search: <input type="text" id="player_search" class="search_box" onkeyup="doSearch()" /></h5>
  <br/>

  <table id="table_with_custom_border" class="test table-condensed table-striped table-bordered table-responsive sortable">
    <thead>
      <tr>
        <th id=name_column_header data-defaultsort="desc">Name</th>
        <th>Team</th>
        <th>Age</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Position</th>
        <th data-defaultsort='disabled'>Salary</th>
      </tr>
    </thead>
    <tbody>
      <% @players.each do |player| %>
        <tr>
          <td><%= link_to player.full_name, player, method: :get %></td>
          <td><%= link_to player.team.full_name, player.team, method: :get %></td>
          <td><%= player.age %></td>
          <td class="height"><%= player.height %></td>
          <td><%= player.weight %> lb.</td>
          <td class="position"><%= player.position %></td>
          <td class="salary"><%= player.salary %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<script>

function doSearch() {
  var searchText = document.getElementById('player_search').value;
  var table = document.getElementById('table_with_custom_border');
  var numColumns;

  // Loop through all the rows of the table
  for (var rowIndex=0; rowIndex<table.rows.length; rowIndex++) {
    var rowData = '';

    // Get column count from header row
    if (rowIndex==0) {
      numColumns = table.rows.item(rowIndex).cells.length;
      continue;
    }

    // Populate rowData with all cell values
    for (var colIndex=0; colIndex<numColumns; colIndex++) {
      rowData += table.rows.item(rowIndex).cells.item(colIndex).textContent;
    }

    // Hide the row if the search term is not found
    if (rowData.toLowerCase().indexOf(searchText.toLowerCase()) == -1) {
      table.rows.item(rowIndex).style.display = 'none';
    } else {
      table.rows.item(rowIndex).style.display = 'table-row';
    }
  }
}

$('.position').each(function() {
  var positionSymbol = $(this).text();
  var position = '';
  switch (positionSymbol.toLowerCase()) {
    case 'p':
      position = 'Pitcher';
      break;
    case 'c':
      position = 'Catcher';
      break;
    case '1b':
      position = 'First Base';
      break;
    case '2b':
      position = 'Second Base';
      break;
    case '3b':
      position = 'Third Base';
      break;
    case 'ss':
      position = 'Shortstop';
      break;
    case 'lf':
      position = 'Left Field';
      break;
    case 'cf':
      position = 'Center Field';
      break;
    case 'rf':
      position = 'Right Field';
      break;
  }
  $(this).text(position);
});

$('.height').each(function() {
  var height = $(this).text();
  var feet = Math.floor(Number(height)/12);
  var inches = Number(height) - feet*12;
  $(this).text(feet + '\' ' + inches + '\"');
});

$('.salary').each(function() {
  var item = $(this).text();
  var num = Number(item).toLocaleString('en');

  if(Number(item) < 0) {
    num = num.replace('-','');
    $(this).addClass('negMoney');
  } else {
    $(this).addClass('enMoney');
  }
  $(this).text(num);
});

</script>
