<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= link_to @player.team.name, @player.team %>
</p>

<p>
  <strong>First name:</strong>
  <%= @player.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @player.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @player.age %>
</p>

<p>
  <strong>Height:</strong>
  <%= @player.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @player.weight %>
</p>

<p>
  <strong>Position:</strong>
  <%= @player.position %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @player.salary %>
</p>

<%= link_to 'Edit Player Info', edit_player_path(@player) %> |
<%= link_to 'Delete Player', @player, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', players_path %>
