<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<%= stylesheet_link_tag "jquery-ui.min", 'data-turbolinks-track' => true %>
<%= javascript_include_tag "jquery-ui.min", 'data-turbolinks-track' =>true %>
<%= javascript_include_tag 'bootstrap-sortable', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'moment.min', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'bootstrap-sortable', 'data-turbolinks-track' => true %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-md-border">
      <%= render 'playerSidebar' %>
    </div>
    <div class="col-md-10">
      <%= render 'playerNav' %>
      <%= render 'attributes' %>
    </div>
  </div>
</div>


<!-- <p id="notice"><%= notice %></p> -->



<style media="screen">
#player-div {
  padding-left: 28px;
}

.ui-tooltip-content {
  font-size:8pt;
}

#pitch_locations_table {
  position: relative;
  border-collapse: separate;
  border:3px solid #9cb3c9;
  border-radius: 5px;
}

#pitch_locations_table:after {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: black;
  border-radius: 5px;
  z-index: -1;
}

.custom-border-top {
  border-top: 1px solid black !important;
}

</style>

<script>

$("#pitch_locations_table > tbody > tr").each(function() {
  $(this).find("td").each(function(index) {
      if (index % 2 == 0) {
        // $(this).text("okay");
      }
  });
});

$('.pitch_location_percentage').hover(
  function() {
    $(this).find(".num_pitches").fadeIn();
  },
  function() {
    $(this).find(".num_pitches").fadeOut();
  }
);

$('.pitch_location_percentage').each(function(index) {
  var num_pitches = $(this).find('.num_pitches').text();
  var max_pitches = $(this).find('.max_pitches').text();
  var percent = num_pitches/max_pitches;
  var red;
  var blue;
  var green;
  green = (1-percent)*25;
  blue = (1-percent)*50;
  red = percent*200;
  var rgb = "rgb(" + Math.floor(red) + "," + Math.floor(green) + "," + Math.floor(blue) + ")";
  $(this).css({"background-color":rgb});
  $(this).css({"color":"white"});
  var borderColor = "#668099";
  var strikeZoneColor = "#a37575";
  if (index == 3 || index == 7 || index == 93 || index == 97) {
    $(this).css({"border-left":"1px solid " + borderColor});
  }
  if (index == 20 || index == 60 || index == 29 || index == 69) {
    $(this).css({"border-bottom":"1px solid " + borderColor});
  }
  if (index % 10 != 0 && index % 10 != 9 && (index < 72 || (index > 77 && index < 90))) {
    $(this).css({"border-bottom":"1px solid " + borderColor});
  }
  if (index % 10 != 0 && index % 10 != 8 && index > 10 && index < 90) {
    $(this).css({"border-left":"1px solid  " + borderColor});
  }
  if (index == 18 || index == 88) {
    $(this).css({"border-left":"1px solid  " + borderColor});
  }
  if (index > 11 && index < 18) {
    $(this).css({"border-bottom":"2px solid " + strikeZoneColor});
  }
  if (index > 21 && index < 28) {
    $(this).css({"border-top":"2px solid " + strikeZoneColor});
  }
  if (index > 71 && index < 78) {
    $(this).css({"border-bottom":"2px solid " + strikeZoneColor});
  }
  if (index > 81 && index < 88) {
    $(this).css({"border-top":"2px solid " + strikeZoneColor});
  }
  if (index == 21 || index == 31 || index == 41
    || index == 51 || index == 61 || index == 71 ) {
    $(this).css({"border-right":"2px solid " + strikeZoneColor});
  }
  if (index == 22 || index == 32 || index == 42
    || index == 52 || index == 62 || index == 72 ) {
    $(this).css({"border-left":"2px solid " + strikeZoneColor});
  }
  if (index == 28 || index == 38 || index == 48
    || index == 58 || index == 68 || index == 78 ) {
    $(this).css({"border-left":"2px solid " + strikeZoneColor});
  }
  if (index == 27 || index == 37 || index == 47
    || index == 57 || index == 67 || index == 77 ) {
    $(this).css({"border-right":"2px solid " + strikeZoneColor});
  }
});

$(function() {
  $(".tooltip_enable").tooltip({
    show: {
      delay: 250
    }
  });
});

  $('.hotcold').each(function() {
    var val = $(this).text();
    var red;
    var blue;
    var green;
    if (val > 50) {
      green = 0;
      blue = 0;
      red = (val - 50)*255/50;
    } else {
      green = 0;
      red = 0;
      blue = (50 - val)*255/50
    }
    var rgb = "rgb(" + Math.floor(red) + "," + Math.floor(green) + "," + Math.floor(blue) + ")";
    $(this).css({"color":rgb});
  });

  $('.pitching_role').each(function() {
    var pitchingRoleSymbol = $(this).text();
    console.log("symbol:" + pitchingRoleSymbol)
    var pitching_role = '';
    switch (pitchingRoleSymbol) {
      case 'SP1':
        pitching_role = 'Starter';
        break;
      case 'SP2':
        pitching_role = 'Starter';
        break;
      case 'SP3':
        pitching_role = 'Starter';
        break;
      case 'SP4':
        pitching_role = 'Starter';
        break;
      case 'SP5':
        pitching_role = 'Starter';
        break;
      case 'LR':
        pitching_role = 'Long Reliever';
        break;
      case 'MR1':
        pitching_role = 'Middle Reliever';
        break;
      case 'MR2':
        pitching_role = 'Middle Reliever';
        break;
      case 'MR3':
        pitching_role = 'Middle Reliever';
        break;
      case 'SU1':
        pitching_role = 'Setup';
        break;
      case 'SU2':
        pitching_role = 'Setup';
        break;
      case 'CL':
        pitching_role = 'Closer';
        break;
    }
    console.log("text:" + pitching_role)
    $(this).text(pitching_role);
  });

  $('.position').each(function() {
    var positionSymbol = $(this).text();
    var position = '';
    switch (positionSymbol.toLowerCase()) {
      case 'p':
        position = 'Pitcher';
        break;
      case 'c':
        position = 'Catcher';
        break;
      case '1b':
        position = 'First Base';
        break;
      case '2b':
        position = 'Second Base';
        break;
      case '3b':
        position = 'Third Base';
        break;
      case 'ss':
        position = 'Shortstop';
        break;
      case 'lf':
        position = 'Left Field';
        break;
      case 'cf':
        position = 'Center Field';
        break;
      case 'rf':
        position = 'Right Field';
        break;
    }
    $(this).text(position);
  });

  $('.height').each(function() {
    var height = $(this).text();
    var feet = Math.floor(Number(height)/12);
    var inches = Number(height) - feet*12;
    $(this).text(feet + '\' ' + inches + '\"');
  });

  $('.salary').each(function() {
    var item = $(this).text();
    var num = localeString(Number(item), ',', 3);

    if(Number(item) < 0) {
      num = num.replace('-','');
      $(this).addClass('negMoney');
    } else {
      $(this).addClass('enMoney');
    }
    $(this).text(num);
  });
</script>
