<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<p id="notice"><%= notice %></p>


<p>
  <h2><%= @player.full_name %></h2>
</p>

</br>

<div class="player_info_data">
  <p>
    <strong>Team:</strong>
    <%= link_to @player.team.full_name, @player.team, method: :get %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= @player.age %>
  </p>

  <p>
    <strong>Height:</strong>
    <span class="height"><%= @player.height %></span>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= @player.weight %> lb.
  </p>

  <p>
    <strong>Position:</strong>
    <span class="position"><%= @player.position %></span>
  </p>

  <p>
    <strong>Salary:</strong>
    <span class="salary"><%= @player.salary %></span>
  </p>

</div>
</br>
<%= link_to 'Edit Player Info', edit_player_path(@player), method: :get %> |
<%= link_to 'Delete Player', @player, method: :delete, data: { confirm: 'Are you sure you want to delete ' + @player.full_name + '?' } %> |
<%= link_to 'All Players', players_path, method: :get %> |
<%= link_to 'Back', 'javascript:history.go(-1);' %>

<h3>Batting Attributes</h3>

<table id="table_with_custom_border" class="table-condensed table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th>Power</th>
      <th>Contact</th>
      <th>Speed</th>
      <th>Patience</th>
      <th>Plate Vision</th>
      <th>Pull Amount</th>
      <th>Uppercut Amount</th>
      <th>Batting Average</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="hotcold"><%= @player.power %></td>
      <td class="hotcold"><%= @player.contact %></td>
      <td class="hotcold"><%= @player.speed %></td>
      <td class="hotcold"><%= @player.patience %></td>
      <td class="hotcold"><%= @player.plate_vision %></td>
      <td class="hotcold"><%= @player.pull_amount %></td>
      <td class="hotcold"><%= @player.uppercut_amount %></td>
      <td class="hotcold"><%= @player.batting_average %></td>
    </tr>
  </tbody>
</table>

<h3>Pitching Attributes</h3>

<table id="table_with_custom_border" class="test table-condensed table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th>Pitch Movement</th>
      <th>Pitch Control</th>
      <th>Pitch Location</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="hotcold"><%= @player.movement %></td>
      <td class="hotcold"><%= @player.control %></td>
      <td class="hotcold"><%= @player.location %></td>
    </tr>
  </tbody>
</table>

<h3>Fielding Attributes</h3>

<table id="table_with_custom_border" class="test table-condensed table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th>Agility</th>
      <th>Reaction Time</th>
      <th>Arm Strength</th>
      <th>Fielding</th>
      <th>Throwing</th>
      <th>Intelligence</th>
      <th>Endurance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="hotcold"><%= @player.agility %></td>
      <td class="hotcold"><%= @player.reactionTime %></td>
      <td class="hotcold"><%= @player.armStrength %></td>
      <td class="hotcold"><%= @player.average_fielding %></td>
      <td class="hotcold"><%= @player.average_throwing %></td>
      <td class="hotcold"><%= @player.intelligence %></td>
      <td class="hotcold"><%= @player.endurance %></td>
    </tr>
  </tbody>
</table>

<h3>Batting Stats</h3>
<table id="table_with_custom_border" class="test table-condensed table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th>AB</th>
      <th>R</th>
      <th>H</th>
      <th>2B</th>
      <th>3B</th>
      <th>HR</th>
      <th>RBI</th>
      <th>BB</th>
      <th>K</th>
      <th>SB</th>
      <th>CS</th>
      <th>AVG</th>
      <th>OBP</th>
      <th>SLG</th>
      <th>OPS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @player.atbats %></td>
      <td><%= @player.runs %></td>
      <td><%= @player.hits %></td>
      <td><%= @player.doubles %></td>
      <td><%= @player.triples %></td>
      <td><%= @player.home_runs %></td>
      <td><%= @player.rbi %></td>
      <td><%= @player.walks %></td>
      <td><%= @player.strikeouts %></td>
      <td><%= @player.stolen_bases %></td>
      <td><%= @player.caught_stealing %></td>
      <% @avg = @player.hits.to_f/@player.atbats.to_f %>
      <% @obp = (@player.hits + @player.walks).to_f/(@player.atbats + @player.walks).to_f %>
      <% @slg = (@player.hits - @player.doubles - @player.triples - @player.home_runs + 2 * @player.doubles + 3 * @player.triples + 4 * @player.home_runs).to_f/@player.atbats.to_f %>
      <% @ops = @obp + @slg %>
      <td><%= number_with_precision(drop_leading_zero(@avg), precision: 3) %></td>
      <td><%= number_with_precision(drop_leading_zero(@obp), precision: 3) %></td>
      <td><%= number_with_precision(drop_leading_zero(@slg), precision: 3) %></td>
      <td><%= number_with_precision(drop_leading_zero(@ops), precision: 3) %></td>
    </tr>
  </tbody>
</table>

<h3>Pitching Stats</h3>
<table id="table_with_custom_border" class="test table-condensed table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th>IP</th>
      <th>H</th>
      <th>R</th>
      <th>ER</th>
      <th>HR</th>
      <th>BB</th>
      <th>K</th>
      <th>ERA</th>
      <th>WHIP</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= number_with_precision(@player.outs_recorded.to_f/3, precision: 1) %></td>
      <td><%= @player.hits_allowed %></td>
      <td><%= @player.runs_allowed %></td>
      <td><%= @player.earned_runs_allowed %></td>
      <td><%= @player.home_runs_allowed %></td>
      <td><%= @player.walks_allowed %></td>
      <td><%= @player.strikeouts_recorded %></td>
      <td><%= number_with_precision(@player.earned_runs_allowed.to_f*27/@player.outs_recorded.to_f, precision: 2) %></td>
      <td><%= number_with_precision((@player.walks_allowed + @player.hits_allowed).to_f*3/@player.outs_recorded.to_f, precision: 2) %></td>
    </tr>
  </tbody>
</table>

</br>

<script>

  $('.hotcold').each(function() {
    var val = $(this).text();
    var red;
    var blue;
    var green;
    if (val > 50) {
      green = 0;
      blue = 0;
      red = (val - 50)*255/50;
    } else {
      green = 0;
      red = 0;
      blue = (50 - val)*255/50
    }
    var rgb = "rgb(" + Math.floor(red) + "," + Math.floor(green) + "," + Math.floor(blue) + ")";
    $(this).css({"color":rgb});
  })

  $('.position').each(function() {
    var positionSymbol = $(this).text();
    var position = '';
    switch (positionSymbol.toLowerCase()) {
      case 'p':
        position = 'Pitcher';
        break;
      case 'c':
        position = 'Catcher';
        break;
      case '1b':
        position = 'First Base';
        break;
      case '2b':
        position = 'Second Base';
        break;
      case '3b':
        position = 'Third Base';
        break;
      case 'ss':
        position = 'Shortstop';
        break;
      case 'lf':
        position = 'Left Field';
        break;
      case 'cf':
        position = 'Center Field';
        break;
      case 'rf':
        position = 'Right Field';
        break;
    }
    $(this).text(position);
  });

  $('.height').each(function() {
    var height = $(this).text();
    var feet = Math.floor(Number(height)/12);
    var inches = Number(height) - feet*12;
    $(this).text(feet + '\' ' + inches + '\"');
  });

  $('.salary').each(function() {
    var item = $(this).text();
    var num = Number(item).toLocaleString('en');

    if(Number(item) < 0) {
      num = num.replace('-','');
      $(this).addClass('negMoney');
    } else {
      $(this).addClass('enMoney');
    }
    $(this).text(num);
  });
</script>
