<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<%= stylesheet_link_tag "jquery-ui.min", 'data-turbolinks-track' => true %>
<%= javascript_include_tag "jquery-ui.min", 'data-turbolinks-track' =>true %>
<%= javascript_include_tag 'bootstrap-sortable', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'moment.min', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'bootstrap-sortable', 'data-turbolinks-track' => true %>

<div class="col-sm-5">
  <h1>Achievements</h1>

  <table class="table table-condensed table-striped table-bordered table-responsive custom-smaller-table sortable">
    <thead>
      <tr>
        <th>Date</th>
        <th>Player</th>
        <th>Team</th>
        <th>Achievement</th>
      </tr>
    </thead>

    <tbody>
      <% @achievements.each do |achievement| %>
      <% @player = Player.find(achievement.player_id) %>
      <% @team = Team.find(achievement.team_id) %>
        <tr>
          <td><%= link_to achievement.achievement_date.strftime("%B %e, %Y"), Game.find(achievement.game_id), method: :get %></td>
          <td><%= link_to @player.full_name, @player, method: :get %></td>
          <td><%= link_to @team.full_name, @team, method: :get %></td>
          <td><%= link_to achievement.achievement_type, Game.find(achievement.game_id), method: :get %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
