<!DOCTYPE html>
<html>
<head>
  <title>AddBaseballApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= javascript_include_tag 'bootstrap-sortable', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'moment.min', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap-sortable', 'data-turbolinks-track' => true %>
  </head>
<body id="app_body">

<nav id='main_nav'>
  <ul>
    <li><a href="/teams">Teams</a></li>
    <li><a href="/players">Players</a></li>
    <li><a href="/teams/new">New Team</a></li>
    <li><a href="/players/new">New Player</a></li>
  </ul>
</nav>

<script>

  $(document).ready(function() {
    setNavigation();
  });

  function setNavigation() {
    var path = $(location).attr('pathname');
    $("nav#main_nav a").each(function() {
      var href = $(this).attr('href');
      if (path == href) {
        $(this).addClass('active');
      }
    });
  }

</script>

<div class="container-fluid">
  <%= yield %>
</div>

</body>
</html>
