<!DOCTYPE html>
<html>
<head>
  <title>AddBaseballApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style>

  .additional-padding-left {
    padding-left: 28px;
  }

  .no-top-border {
    border-top: 0px !important;
  }

  .custom-smaller-table td {
    font-size: 12px;
    height: 15px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }

  .col-md-border {
      border-right: 1px solid #d7d7d7;
  }

  #main_nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

    .open > .dropdown-menu {
      -webkit-transform: scale(1,1);
      transform: scale(1,1);
      opacity: 1;
    }

    .dropdown-menu {
      opacity: .3;
      -webkit-transform-origin: top;
      transform-origin: top;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-transform: scale(1,0);
      transition: all 0.3s linear;
      -webkit-transition: all 0.3s linear;
    }

    .caret-up {
      width: 0;
      height: 0;
      border-left: 4px solid rgba(0,0,0,0);
      border-right: 4px solid rgba(0,0,0,0);
      border-bottom: 4px solid;
      display: inline-block;
      margin-left: 2px;
      vertical-align: middle;
    }

    .sidebar {
      float:left;
    }

    /*.dropdown:hover ul.dropdown-menu {
      display: block;
    }*/

    .nav-wrapper
{
    min-height:50px;
}

  </style>

</head>

<body id="app_body" hidden>
<div class="content nav-wrapper">
  <nav id="main_nav" class="navbar navbar-inverse">
    <div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="home_link"><%= link_to "Home", root_url, method: :get %></li>
          <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="profile_link"><%= link_to "Profile", current_user, method: :get %></li>
              <li class="settings_link"><%= link_to "Settings", edit_user_path(current_user), method: :get %></li>
            </ul>
          </li>
          <% end %>
          <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Create <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="new_team_link"><%= link_to "Team", "/teams/new", method: :get %></li>
              <li class="new_player_link"><%= link_to "Player", "/players/new", method: :get %></li>
            </ul>
          </li> -->
          <li class="teams"><%= link_to "Standings", teams_path, method: :get %></li>
          <!-- <li class="players"><%= link_to "Players", "/players", method: :get %></li> -->
          <li class="leaders"><%= link_to "Leaders", seasons_path, method: :get %></li>
          <li class="leaders"><%= link_to "Achievements", achievements_path, method: :get %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Draft <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="draft-current"><%= link_to "Current", pages_draft_path, method: :get %></li>
              <li class="draft-history"><%= link_to "History", drafts_path, method: :get %></li>
            </ul>
          </li>
          <li class="freeAgents"><%= link_to "Free Agents", pages_freeAgents_path, method: :get %></li>
          <!-- <li class="draft"><%= link_to "Draft", pages_draft_path, method: :get %></li> -->
          <!-- <li class="test"><%= link_to "Test", "/pages/test", method: :get %></li> -->
          <!-- <li class="games"><%= link_to "Games", games_path, method: :get %></li> -->
          <li class="users_link"><%= link_to "Users", users_path, method: :get %></li>
          <% if logged_in? %>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
          <% else %>
          <li><%= link_to "Log in", login_path, method: :get %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>


    <!-- <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %> -->
    <h1></h1>
    <div class="main_content">
      <%= yield %>
    </div>
  <!-- </br> -->
  <!-- <%= debug(params) if Rails.env.development? %> -->






</body>

<div class="se-pre-con">

</div>

<script>

$('#main_nav').affix({
      offset: {
        top: 1
      }
});

$(document).ready(function() {
  setNavigation();
});

$('.dropdown').click(function() {
    $('b', this).toggleClass("caret caret-up");
});

$(function() {
  $(".dropdown").hover(function() {
    $('.dropdown-menu', this).stop(true, true).fadeIn("fast");
    $(this).addClass("open");
    $('b', this).toggleClass("caret caret-up");
  },
  function() {
    $('.dropdown-menu', this).stop(true, true).fadeOut("fast");
    $(this).removeClass("open");
    $('b', this).removeClass("caret-up");
    $('b', this).addClass("caret");
  });
})


var paginate_clicked = false;

$(window).load(function() {
  $("#app_body").fadeIn('fast');
});

$(document).click(function(event) {
  if($(event.target).closest("div").attr("class") === 'pagination') {
    paginate_clicked = true;
  }
});

function setNavigation() {
  var path = $(location).attr('pathname');
  $("nav#main_nav a").each(function() {
    var href = $(this).attr('href');
    if (path == href) {
      $(this).addClass('active');
    }
  });
}

</script>

</html>
